html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
    position: fixed; /* Locks the body */
    touch-action: none;
}

#root {
    position: absolute;
    /* background-color: #7154fe; */
}

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
* {
    /* scrollbar-width: thin; */
    scrollbar-color: #fff transparent;
}
